@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

@* 
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 195.6 89" style="enable-background:new 0 0 195.6 89;" xml:space="preserve">
    <style type="text/css">

    </style>

    <rect class="livingroom" x="60.2" y="46.1" width="103.9" height="42.8"/>
    <rect class="kitchen" x="0.5" y="45.9"  width="59.8" height="42.8"/>
    <rect class="bedroom" x="140.2" y="2.8"  width="54.9" height="42.8"/>
    <rect class="bath" x="102.9" y="2.8"  width="38" height="42.8"/>
    <rect class="outside" x="0.5" y="3.3" width="57.8" height="42.8"/>
    <rect class="balcony" x="164.1" y="45.7"  width="31" height="42.8"/>
    <rect class="entrance" x="58.3" y="2.8"  width="44.6" height="42.8"/>


    <line class="st1" x1="0.5" y1="45.7" x2="0.5" y2="88.5"/>
    <line class="st1" x1="164.1" y1="88.5" x2="0.5" y2="88.5"/>
    <line class="st1" x1="82.3" y1="45.7" x2="146" y2="45.7"/>
    <line class="st1" x1="60.2" y1="45.7" x2="0.5" y2="45.7"/>
    <line class="st1" x1="60.2" y1="42.6" x2="60.2" y2="48.3"/>
    <line class="st1" x1="82.3" y1="42.8" x2="82.3" y2="48.5"/>
    <line class="st1" x1="58.3" y1="2.8" x2="58.3" y2="45.7"/>
    <line class="st1" x1="79.3" y1="2.8" x2="58.3" y2="2.8"/>
    <line class="st1" x1="102.9" y1="45.5" x2="102.9" y2="42.8"/>
    <line class="st1" x1="102.9" y1="2.8" x2="102.9" y2="31.4"/>
    <line class="st1" x1="140.6" y1="2.8" x2="140.6" y2="45.7"/>
    <line class="st1" x1="102.9" y1="2.8" x2="140.6" y2="2.8"/>
    <line class="st1" x1="195.1" y1="2.8" x2="140.6" y2="2.8"/>
    <line class="st1" x1="160.9" y1="45.7" x2="195.1" y2="45.7"/>
    <line class="st1" x1="195.1" y1="2.8" x2="195.1" y2="45.7"/>
    <line class="st1" x1="164.1" y1="88.5" x2="164.1" y2="87.2"/>
    <line class="st1" x1="164.1" y1="45.7" x2="164.1" y2="67.1"/>
    <line class="st1" x1="146" y1="42.6" x2="146" y2="48.3"/>
    <line class="st1" x1="160.4" y1="42.7" x2="160.4" y2="48.4"/>
    <line class="st1" x1="100.7" y1="42.8" x2="106.3" y2="42.8"/>
    <line class="st1" x1="100.1" y1="31.4" x2="105.8" y2="31.4"/>
    <line class="st1" x1="161.3" y1="87.2" x2="167" y2="87.2"/>
    <line class="st1" x1="161.3" y1="67.1" x2="167" y2="67.1"/>
    <line class="st1" x1="195.1" y1="45.7" x2="195.1" y2="88.5"/>
    <line class="st1" x1="164.1" y1="88.5" x2="195.1" y2="88.5"/>
    <line class="st1" x1="0.5" y1="2.8" x2="0.5" y2="45.7"/>
    <line class="st1" x1="58.3" y1="2.8" x2="0.5" y2="2.8"/>
    <line class="st1" x1="58.3" y1="45.7" x2="58.3" y2="3.8"/>
    <line class="st1" x1="102.9" y1="2.8" x2="100.1" y2="2.8"/>
    <line class="st1" x1="79.3" y1="0" x2="79.3" y2="5.7"/>
    <line class="st1" x1="99.7" y1="0" x2="99.7" y2="5.7"/>
</svg> *@

@foreach (var player in @Model.Controllers)
{
<div data-player="@player.Name" class="player">
    <div class="display"><h1><center>display player info</center></h1></div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Media
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var service in player.Services)
            {
              <a class="dropdown-item" href="#" data-player="@player.Name" data-service-action="@service.Name" onclick="serviceSelected(this)">@service.DisplayName</a>  
            }
        </div>
    </div>
    @foreach (var radio in player.Services.OfType<RadioService>())
    {
        <div data-player="@player.Name" data-service="@radio.Name" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Station
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var station in radio.RadioStations)
            {
              <a class="dropdown-item" href="#" data-url="@station.URL">@station.Name</a>  
            }
        </div>
    </div>
    }
    
    <div class="media-controls">
        <button class="back"></button>
        <button class="pause"></button>
        <button class="play"></button>
        <button class="stop"></button>
        <button class="next"></button>
    </div>
    <div class="volume">
        <input type='range' min='0' max='100' value='20' />
    </div>
</div>
}


@* 
<div class="light">
    <div class='color'></div>
    <div class='brightness'></div>
</div> *@
